@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Ultra&display=swap');

#grid {
  width: 400px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.card {
  border: 2px solid;
  text-align: center;
  width: 50%;
  border-radius: 3px;
  margin-top: 40px;
  margin: 0 auto; /* center horizontally */
  padding-bottom: 30px;
  background-color: white;
}

.card2 {
  text-align: center;
  margin: 0 auto; /* center horizontally */
  margin-top: 40px;
}

h1 {
  font-family: Bree Serif, sans-serif;
  -webkit-text-stroke: 1px black;
}

body {
  background-color: black;
}
